@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        min-height: 100vh;
    }
}
.imagen {
    overflow: hidden;
    height: 20rem;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: center center;
    @include m.tablet {
        height: auto;
    }
}
.app {
    width: 95%;
    height: 100vh;
    margin: 0 auto;
    padding: 3rem 2rem 3rem 0;
    overflow: auto;
}
.barra {
    margin: v.$separacion 0;
    .boton {
        margin: 0;
        @include m.boton(darken(v.$negro, 5%),v.$blanco);
    }
    display: flex;
    flex-direction: column;
    @include m.tablet{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
